{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid text-center contenu">
        <h4>Rencontre avec Monica SEMEDO</h4>
        <h5 class="orange">Députée Européenne</h5>
        <div class="video-responsive">
            <iframe width="1024" height="576" src="https://www.youtube.com/embed/L9NUgxOwPpE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}