{% extends 'base.html.twig' %}

{% block body %}
    <section id="content">
        <h3>Rencontre avec Monica SEMEDO<br />Députée Européenne</h3>
        <iframe id="ytplayer" type="text/html" width="920" height="517.5"
                src="https://www.youtube.com/embed/L9NUgxOwPpE?fs=0&color=white"
                frameborder="0" allowfullscreen></iframe>
    </section>
{% endblock %}