{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid bg-orange">
        <div class="container text-center newsletter-form bg-orange">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for email in emails %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ email.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}